/* Tailwind */
@import "tailwindcss";

/* .font-inter {
  font-family: "Inter", sans-serif;
} */
/* Shared Styles */
* {
  max-width: 1440px;
  font-family: "Noto Serif", serif;
}
.container {
  max-width: 1140px;
  margin: 0px auto;
}

.orange {
  color: #e95a08;
}
.plant-card-btn {
  background-color: #e95a08;
  color: white;
  width: 15rem;
  height: 3rem;
  margin-top: 25px;
  text-align: center;
}

/* Header Styles */

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}
.nav-right-list {
  display: flex;
  gap: 60px;
}
.logo-img {
  width: 100%;
}
.nav-item,
.nav-item-cart {
  color: rgba(137, 135, 161, 1);
  font-size: medium;
}
.nav-home {
  font-weight: 600;
  color: black;
}
.banner {
  display: flex;
  margin-top: 120px;
  margin-bottom: 120px;
}
.banner-left {
  display: grid;
  grid-column: 1fr;
  align-items: end;
}
.banner-img {
  width: 100%;
}
.banner-tittle {
  font-weight: bold;
  font-size: 65px;
}
.banner-para {
  font-size: 22px;
  color: rgba(0, 0, 0, 0.5);
}

/* Plants Card Section */
.plants-card-section {
  margin-bottom: 150px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.plants-part {
  text-align: center;
  margin-bottom: 50px;
}
.plants-tittle {
  font-size: 50px;
  font-weight: bold;
}
.plants-para {
  font-size: 22px;
}

.plants-card {
  /* border: 1px solid tomato; */
  width: 15rem;
  height: 30rem;
  text-align: center;
  margin-top: 30px;
}
.Plants-card-title {
  font-size: 22px;
  font-weight: medium;
  padding-top: 30px;
}
.plants-card-price {
  font-size: 22px;
  font-weight: bold;
}

/* Media Query */

@media screen and (max-width: 576px) {
  .nav-right-list li:nth-child(1) {
    display: none;
  }
  .nav-right-list li:nth-child(2) {
    display: none;
  }
  .nav-right-list li:nth-child(3) {
    display: none;
  }
  .nav-right ul {
    padding-top: 2.5rem;
    padding-right: 1rem;
  }
  .banner {
    flex-direction: column-reverse;
  }
  .banner-left {
    padding-top: 2.5rem;
    padding-left: 3rem;
  }

  .logo-img {
    padding-left: 1.25rem;
  }
  .plants-para {
    padding-left: 1.25rem;
  }
  .plants-card-section {
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    margin: auto;
    gap: 1rem;
  }
  .plants-img {
    width: 100%;
  }
  .banner-img {
    margin: auto;
  }
}
